.product-container {
  display: grid;
  margin: 2rem 4rem;
  justify-content: center;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
}

@media screen and (max-width: 1170px) {
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .product-wrapper {
    grid-template-columns: 1fr;
  }
}
