.product-container {
  display: grid;
  justify-content: center;
  background-color: #eae8e8;
}

.product-container > h3 {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem;
  justify-items: center;
}

@media screen and (max-width: 1170px) {
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .product-wrapper {
    grid-template-columns: 1fr;
  }
}
