.feature-section {
  padding: 2rem 2rem;
  background-color: #eae8e8;
  align-items: center;
}

.feature-section > h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.feature-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.feature-container:nth-child(even) {
  flex-direction: row-reverse;
}

.feature-container > p {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
}

.feature-container > img {
  border-radius: 20px;
  height: 350px;
  aspect-ratio: 2/1;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.feature-container > img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .feature-section {
    padding: 2rem 2.5rem;
  }

  .feature-container > p {
    text-align: start;
  }
}
