@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Cambo&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 'PT Sans', 'sans-serif';
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
