* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 'PT Sans', 'sans-serif';
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
}
